<h1>Ingredient #<%= @ingredient.id %></h1>

<p>
  <b>Recipe:</b>
  <%= @ingredient.recipe_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @ingredient.amount %>
</p>

<p>
  <b>Ingredname:</b>
  <%= @ingredient.ingredname %>
</p>


